body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #e9ddcd;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #e9ddcd;
}

nav {
margin-left: 70%;
 margin-right: 30px;
 margin-top: auto;
 display: flex;

}

nav a {
  text-decoration: none;
   font-weight: bold;
  color: #ffffff;
  line-break: auto;
   background-color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 15px;
  
}

.loat{
    position: absolute;
    z-index: 2;
    width: 400px;
    height: 400px;
    margin-top: 150px;
    margin-left: 60%;
}

.hero {
  text-align: center;
  padding: 60px 20px;
 background-image: url(imgs/background.jpg);
 background-size: cover;
 border-radius: 133% 671% 500% 500%;
 border-top: 8px solid #000;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-color: rgb(255, 255, 255);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  height:300px ;
  width: auto;
}

.logo {

    width: auto ;
    height:45px ;
}

.cta {
  display: inline-block;
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 15px;
}

.flash-sale {
  background: e9ddcd;
  padding: 40px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.flash-sale h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #000000;
}

.products {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.get-now-btn {
  background: #8c5e3a;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 12px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(75, 40, 13, 0.5);
}

.get-now-btn:hover {
  background: #4b280d;
}


.product {
  background: #fff;
  border: 2px solid #8c5e3a;
  border-radius: 12px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 10px rgba(75, 40, 13, 0.5);
  transition: transform 0.3s ease;
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.product:hover {
  transform: scale(1.05);
}

.product h3 {
  margin-bottom: 5px;
  color: #333;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 8px;
  font-weight: normal;
  font-size: 1rem;
}


.features {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #eee;
}

h1{
    color: #ffffff;
}